USE [master]
GO
/****** Object:  Database [Traffilizer]    Script Date: 11/25/2019 8:56:33 PM ******/
CREATE DATABASE [Traffilizer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Traffilizer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Traffilizer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Traffilizer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Traffilizer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Traffilizer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Traffilizer]
GO
USE [Traffilizer]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/25/2019 8:56:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/25/2019 8:56:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/25/2019 8:56:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/25/2019 8:56:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/25/2019 8:56:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/25/2019 8:56:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportURL]    Script Date: 11/25/2019 8:56:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportURL](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[URLId] [bigint] NOT NULL,
	[ReportedDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_ReportURL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URLs]    Script Date: 11/25/2019 8:56:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URLs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[URLAddress] [nvarchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Duration] [int] NOT NULL,
	[AdminUrl] [bit] NOT NULL,
 CONSTRAINT [PK_URLs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URLVisits]    Script Date: 11/25/2019 8:56:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URLVisits](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[URLId] [bigint] NOT NULL,
	[VisitedOn] [datetime] NOT NULL,
	[VisitedBy] [nvarchar](128) NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_URLVisits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'User')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'09f4f447-7a4a-4628-a7d6-92783b149458', N'1')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'04919535-7153-4599-ad58-a43c3161f3a8', N'2')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'325d1d3c-294e-41cd-aa0b-ee4d0f59c664', N'2')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [CreatedOn], [Active], [Deleted]) VALUES (N'04919535-7153-4599-ad58-a43c3161f3a8', N'haseeb_ullah@live.com', 0, N'AFImDPmjp1new01m3b4CLBx6qg2ALIVz4HJqegW1BT3zPBOJ9mM2OKey+RlCYysGPQ==', N'889fd895-f1b9-45b4-b4cb-1b5f1816c454', NULL, 0, 0, NULL, 0, 0, N'haseeb_ullah@live.com', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0, 0)
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [CreatedOn], [Active], [Deleted]) VALUES (N'09f4f447-7a4a-4628-a7d6-92783b149458', N'mhaseebullah92@gmail.com', 0, N'ALyxeSQzXPE/PLHyR6WoiaWmHKOsA6LYZ/jNtQdTqm/l06R4GwwucN1+/610cYWNsQ==', N'937eb1a1-15bb-4b88-a1c9-b7b9492ac475', NULL, 0, 0, NULL, 0, 0, N'mhaseebullah92@gmail.com', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0, 0)
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [CreatedOn], [Active], [Deleted]) VALUES (N'325d1d3c-294e-41cd-aa0b-ee4d0f59c664', N'haseeb_ullah92@yahoo.com', 0, N'AIKCCxnxT/5Zl3TCfPTTBPaFg4J9fT6KgIeaiW/wHmNPOWmJoV4hYyaVg2CIaoY5HA==', N'86d7a0a5-5daf-417a-bb8a-cb5ddd82ff13', NULL, 0, 0, NULL, 0, 0, N'haseeb_ullah92@yahoo.com', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0, 0)
GO
SET IDENTITY_INSERT [dbo].[ReportURL] ON 
GO
INSERT [dbo].[ReportURL] ([Id], [Message], [URLId], [ReportedDate], [Deleted]) VALUES (1, N'Test', 10014, CAST(N'2018-09-25T22:32:14.290' AS DateTime), 0)
GO
INSERT [dbo].[ReportURL] ([Id], [Message], [URLId], [ReportedDate], [Deleted]) VALUES (2, N'please check this', 10015, CAST(N'2018-09-25T22:53:16.760' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[ReportURL] OFF
GO
SET IDENTITY_INSERT [dbo].[URLs] ON 
GO
INSERT [dbo].[URLs] ([Id], [URLAddress], [Status], [Deleted], [CreatedOn], [UserId], [Duration], [AdminUrl]) VALUES (1, N'https://www.skyboss.com', 1, 1, CAST(N'2018-08-14T01:21:15.943' AS DateTime), N'09f4f447-7a4a-4628-a7d6-92783b149458', 1, 1)
GO
INSERT [dbo].[URLs] ([Id], [URLAddress], [Status], [Deleted], [CreatedOn], [UserId], [Duration], [AdminUrl]) VALUES (3, N'https://www.facebook.com', 1, 0, CAST(N'2018-08-24T18:47:35.507' AS DateTime), N'09f4f447-7a4a-4628-a7d6-92783b149458', 1, 1)
GO
INSERT [dbo].[URLs] ([Id], [URLAddress], [Status], [Deleted], [CreatedOn], [UserId], [Duration], [AdminUrl]) VALUES (4, N'https://www.google.com', 1, 0, CAST(N'2018-08-24T18:49:23.487' AS DateTime), N'09f4f447-7a4a-4628-a7d6-92783b149458', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[URLs] OFF
GO
SET IDENTITY_INSERT [dbo].[URLVisits] ON 
GO
INSERT [dbo].[URLVisits] ([Id], [URLId], [VisitedOn], [VisitedBy], [Deleted]) VALUES (3, 1, CAST(N'2018-09-21T14:09:04.710' AS DateTime), N'325d1d3c-294e-41cd-aa0b-ee4d0f59c664', 0)
GO
INSERT [dbo].[URLVisits] ([Id], [URLId], [VisitedOn], [VisitedBy], [Deleted]) VALUES (8, 10005, CAST(N'2018-09-21T14:08:50.230' AS DateTime), N'09f4f447-7a4a-4628-a7d6-92783b149458', 0)
GO
INSERT [dbo].[URLVisits] ([Id], [URLId], [VisitedOn], [VisitedBy], [Deleted]) VALUES (9, 10006, CAST(N'2018-09-21T14:08:50.230' AS DateTime), N'09f4f447-7a4a-4628-a7d6-92783b149458', 0)
GO
SET IDENTITY_INSERT [dbo].[URLVisits] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/25/2019 8:56:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/25/2019 8:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/25/2019 8:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/25/2019 8:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/25/2019 8:56:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/25/2019 8:56:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ReportURL] ADD  CONSTRAINT [DF_ReportURL_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[URLs] ADD  CONSTRAINT [DF_URLs_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[URLs] ADD  CONSTRAINT [DF_URLs_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[URLVisits] ADD  CONSTRAINT [DF_URLVisits_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ReportURL]  WITH CHECK ADD  CONSTRAINT [FK_ReportURL_URLs] FOREIGN KEY([URLId])
REFERENCES [dbo].[URLs] ([Id])
GO
ALTER TABLE [dbo].[ReportURL] CHECK CONSTRAINT [FK_ReportURL_URLs]
GO
ALTER TABLE [dbo].[URLs]  WITH CHECK ADD  CONSTRAINT [FK_URLs_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[URLs] CHECK CONSTRAINT [FK_URLs_AspNetUsers]
GO
ALTER TABLE [dbo].[URLVisits]  WITH CHECK ADD  CONSTRAINT [FK_URLVisits_AspNetUsers] FOREIGN KEY([VisitedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[URLVisits] CHECK CONSTRAINT [FK_URLVisits_AspNetUsers]
GO
ALTER TABLE [dbo].[URLVisits]  WITH CHECK ADD  CONSTRAINT [FK_URLVisits_URLs] FOREIGN KEY([URLId])
REFERENCES [dbo].[URLs] ([Id])
GO
ALTER TABLE [dbo].[URLVisits] CHECK CONSTRAINT [FK_URLVisits_URLs]
GO
/****** Object:  StoredProcedure [dbo].[GetUrlForVisit]    Script Date: 11/25/2019 8:56:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Haseeb Ullah>
-- Create date: <05/09/2018>
-- Description:	<Description,,>
-- =============================================
-- EXEC [dbo].[GetUrlForVisit] '325d1d3c-294e-41cd-aa0b-ee4d0f59c664', 5, 1
CREATE PROCEDURE [dbo].[GetUrlForVisit] @UserId NVARCHAR(128)
	,@Time INT
	,@Duration INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF OBJECT_ID(N'tempdb.dbo.#Temp_URL') IS NOT NULL
	BEGIN
		DROP TABLE #Temp_URL
	END

	-- Insert statements for procedure here
	SELECT TOP 1 ur.id
		,ur.URLAddress
		,ur.Duration
	INTO #Temp_URL
	FROM URLs ur
	JOIN (
		SELECT received.UserId
		FROM (
			SELECT ur.UserId
				,COUNT(uv.id) AS rceivedVisits
			FROM URLs ur
			LEFT JOIN URLVisits uv ON ur.Id = uv.URLId
			WHERE ur.UserId <> @UserId
				AND ur.Duration = @Duration
			GROUP BY ur.UserId
			) received
		JOIN (
			SELECT uv.VisitedBy
				,COUNT(uv.id) AS givenVisits
			FROM URLs ur
			JOIN URLVisits uv ON ur.Id = uv.URLId
			WHERE uv.VisitedBy <> @UserId
				AND ur.Duration = @Duration
			GROUP BY uv.VisitedBy
			) given ON received.UserId = given.VisitedBy
		WHERE received.rceivedVisits < givenVisits
		) users ON ur.UserId = users.UserId
	WHERE ur.STATUS = 1
		AND ur.AdminUrl = 0
		AND ur.Deleted = 0
	ORDER BY NEWID()

	IF (
			EXISTS (
				SELECT *
				FROM #Temp_URL
				)
			AND @Time % 5 <> 0
			)
	BEGIN
		SELECT *
		FROM #Temp_URL
	END
	ELSE
	BEGIN
		SELECT TOP 1 ur.id
			,ur.URLAddress
			,ur.Duration
		FROM URLs ur
		WHERE ur.STATUS = 1
			AND ur.AdminUrl = 1
			AND ur.Deleted = 0
			AND ur.UserId <> @UserId
			AND ur.Duration = @Duration
		ORDER BY NEWID()
	END
			----- Fake Query -----
			--SELECT ur.id
			--	,ur.URLAddress
			--	,ur.Duration
			--FROM URLs ur
			----- Fake Query -----
END
GO
USE [master]
GO
